@page "/AddAdult"
@using Assignment1_DNP1.Data
@using Assignment1_DNP1.Models
@using global::Models
@using Microsoft.AspNetCore.Components
@inject IAdultdata _adultdata
@inject NavigationManager NavigationManager
<h3> Add Adult </h3>
    
<EditForm Model ="@newAdultItem" OnValidSubmit="@AddNewTodo"> 
<DataAnnotationsValidator/>
<ValidationSummary/>
<div class="form-group"> User Id:<br/> 
    <InputNumber @bind-Value="newAdultItem.Id"/> </div>
<div class="form-group"> First Name:<br/> 
    <InputTextArea @bind-Value="newAdultItem.FirstName"/> </div>
<div class="form-group"> Last Name:<br/> 
    <InputTextArea @bind-Value="newAdultItem.LastName"/> </div>
<div class="form-group"> Sex:<br/> 
    <InputTextArea @bind-Value="newAdultItem.Sex"/> </div>
<div class="form-group"> Hair Color:<br/> 
    <InputTextArea @bind-Value="newAdultItem.HairColor"/> </div>
<div class="form-group"> Eye Color:<br/> 
    <InputTextArea @bind-Value="newAdultItem.EyeColor"/> </div>
<div class="form-group"> Age:<br/> 
    <InputNumber @bind-Value="newAdultItem.Age"/> </div>
<div class="form-group"> Weight:<br/> 
    <InputNumber @bind-Value="newAdultItem.Weight"/> </div>
<div class="form-group"> Height:<br/> 
    <InputNumber @bind-Value="newAdultItem.Height"/> </div>
<p class="actions">
    <button class="btn btn-outline-dark" type="submit">Create</button>
</p>
</EditForm>

@code {
    private Adult newAdultItem = new Adult();

    private void AddNewTodo()
    {
        _adultdata.AddAdult(newAdultItem);
        NavigationManager.NavigateTo("/Todos");
    }

}