@page "/Edit/{Id:int}"
@using Assignment1_DNP1.Data
@using Assignment1_DNP1.Models
@using global::Models
@inject IAdultdata _adultdata
@inject NavigationManager NavMgr

<h3>Edit todo with id: @Id</h3>

@code {

    [Parameter]
    public int Id { get; set; }

    private Adult AdultEdit;

    protected override async Task OnInitializedAsync()
    {
        AdultEdit = _adultdata.Get(Id);
    }
    

}