@page "/Edit/{Id:int}"
@using Assignment1_DNP1.Data
@using Assignment1_DNP1.Models
@using global::Models
@inject IAdultdata AdultData
@inject NavigationManager NavMgr

<h3>Edit todo with id: @Id</h3>

@code {

    [Parameter]
    public int Id { get; set; }

    private Adult AdultToEdit;

    protected override async Task OnInitializedAsync()
    {
        AdultToEdit = AdultData.Get(Id);
    }

    private void Save()
    {
        AdultData.Update(AdultToEdit);
      
        ;

    }

}