@page "/Edit/{Id:int}"
@using Assignment1_DNP1.Data
@using global::Models
@inject IAdultdata AdultData
@inject NavigationManager NavMgr

<h3>Edit todo with id: @Id</h3>

@if (AdultToEdit == null)
{
    <em>Todo not found!</em>
}
else
{
    <EditForm Model="@AdultToEdit" OnInvalidSubmit="@Save">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
        User Id:<br/>
        <InputNumber @bind-Value="AdultToEdit.Id"/>
        </div>
        <div class="form-group">
            FirstName:<br/>
            <InputTextArea rows="4" @bind-Value="AdultToEdit.FirstName"/>
        </div>
        <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
}


@code {

    [Parameter]
    public int Id { get; set; }

    private Adult AdultToEdit;

    protected override async Task OnInitializedAsync()
    {
        AdultToEdit = await AdultData.Get(Id);
    }

    private void Save()
    {
        AdultData.Update(AdultToEdit);
        NavMgr.NavigateTo("/");

    }

}