@page "/Edit/{Id:int}"
@using Assignment1_DNP1.Data
@using Assignment1_DNP1.Models
@inject ITodoData TodoData
@inject NavigationManager NavMgr

<h3>Edit todo with id: @Id</h3>

@code {

    [Parameter]
    public int Id { get; set; }

    private Todo todoToEdit;

    protected override async Task OnInitializedAsync()
    {
        todoToEdit = TodoData.Get(Id);
    }

    

}